.container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 4vh);
    overflow: hidden;
    max-height: calc(100vh - 4vh);
    .content {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding: 1rem;
      scrollbar-width: none;
      height: 100%;
      .content-table {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 90%;
        scrollbar-width: none;
      }
    }
  }
  