.container {
    display: flex;
    flex-direction: column;
    height: 91vh;
    overflow: hidden;
    max-height: 91vh;
    .header {
      display: flex;
      flex-direction: row;
      padding: 2rem;
      align-items: center;
      justify-content: space-between;
    }
    .content {
      display: flex;
      flex-direction: column;
      overflow: hidden;
      padding-right: 2rem;
      padding-left: 2rem;
      padding-bottom: 2rem;
      scrollbar-width: none;
      height: 95%;
      .content-header {
        display: flex;
        flex-direction: row;
        height: 10%;
        font-size: x-large;
        font-weight: bolder;
        color: var(--highlight-text-color);
        align-items: center;
        justify-content: flex-end;
      }
      .content-table {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        height: 90%;
        scrollbar-width: none;
        .not-content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          .not-content-header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .title-header {
              font-weight: bolder;
              font-size: xx-large;
            }
          }
        }
      }
    }
  }
  