.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 1rem;
  gap: 1rem;
  .subtitle {
    color: var(--primary-color);
    font-size: small;
    font-weight: bold;
    font-style: oblique;
    .description {
      color: var(--text-color);
      font-size: small;
      font-weight: bold;
      font-style: oblique;
    }
  }
}
.subtitle-house{
  color: var(--primary-color);
  font-size: small;
  font-weight: bold;
  font-style: oblique;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.selected-months {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  .months {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
}

.total {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 1rem;
  .title-total {
    color: var(--primary-color);
    font-size: medium;
    font-weight: bold;
    font-style: oblique;
  }
  .number-total {
    color: var(--text-color);
    font-size: medium;
    font-weight: bold;
    font-style: oblique;
  }
}
.form-options {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}
.messageHelp {
  color: red;
}
.selection {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%;
}
