<div *ngIf="streets$ | async as streets">
  <p-table
    #dt
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="id"
    [value]="streets"
    [paginator]="true"
    paginatorPosition="bottom"
    paginatorDropdownAppendTo="body"
    [rows]="10"
    [rowsPerPageOptions]="[10, 20]"
    [globalFilterFields]="['name', 'description', 'admin.name']"
  >
    <ng-template pTemplate="caption">
      <div class="table-header">
        <h2>Calles</h2>
        <p-button
          label="Crear Calle"
          icon="pi pi-plus"
          iconPos="right"
          class="btn btn-primary"
          (onClick)="add()"
        />
      </div>
      <div class="table-search">
        <p-button
          label="Limpiar"
          [outlined]="true"
          icon="pi pi-filter-slash"
          (onClick)="clear(dt)"
        />
        <span class="p-input-icon-left ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            [(ngModel)]="searchValue"
            (input)="dt.filterGlobal(searchValue, 'contains')"
            placeholder="Buscar..."
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Administrador</th>
        <th>Estado</th>
        <th>Opciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-street>
      <tr>
        <td>{{ street.name | titlecase }}</td>
        <td>{{ street.description | titlecase }}</td>
        <td>
          <p-tag
            [severity]="street.admin ? 'info' : 'warning'"
            [value]="street.admin ? street.admin.name : 'Sin Asignar'"
          />
        </td>
        <td>
          <p-tag
            [severity]="street.isActive ? 'success' : 'warning'"
            [value]="street.isActive ? 'Activa' : 'Bloqueada'"
          />
        </td>
        <td>
          <div class="options-table">
            @for (button of buttons; track $index) {
            <p-button
              [id]="button.id"
              (onClick)="button.action(street)"
              [icon]="button.icon"
              [pTooltip]="button.tooltip"
              [tooltipPosition]="button.tooltipPosition"
              [severity]="
                button.id === 'block-button'
                  ? street.isActive
                    ? 'warning'
                    : 'success'
                  : button.severity
              "
            >
            </p-button>

            }
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
