<p-toast></p-toast>
<form autocomplete="on" [formGroup]="form" (ngSubmit)="update()">
  <div class="header">
    <span class="description"
      >Por tu <span class="mark">seguridad</span> , debes cambiar la
      <span class="mark">contraseña</span> temporal por una que solo tu
      conozcas.</span
    >
  </div>
  <div class="form">
    <div class="field">
      <p-floatLabel>
        <input
          id="name"
          type="text"
          pInputText
          formControlName="temporalPassword"
        />
        <label for="name">Contraseña Temporal</label>
      </p-floatLabel>
      @if (getErrorMessage('temporalPassword')) {
      <small class="messageHelp" id="temporalPassword-help">
        {{ getErrorMessage("temporalPassword") }}
      </small>
      }
    </div>

    <div class="field">
      <p-floatLabel>
        <input
          id="description"
          type="text"
          pInputText
          formControlName="newPassword"
        />
        <label for="description">Nueva Contraseña</label>
      </p-floatLabel>
    </div>
  </div>
  <div class="form-options">
    <p-button [disabled]="form.invalid" type="submit" icon="pi pi-save" label="Actualizar"></p-button>
  </div>
</form>
